<div class="example-container mat-elevation-z8" layout="column" layout-align="center center" layout-padding flex>
  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="policyNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Policy # </mat-header-cell>
      <mat-cell *matCellDef="let row" > {{row.policyNumber}} </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="insuredName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let row" ng-mouseover="style={cursor: hand}"> {{row.insuredName}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="effectiveDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Effective </mat-header-cell>
      <mat-cell *matCellDef="let row" ng-mouseover="style={cursor: hand}"> {{row.effectiveDate | date: 'shortDate'}} </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="expirationDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Expiry </mat-header-cell>
      <mat-cell *matCellDef="let row" ng-mouseover="style={cursor: hand}"> {{row.expirationDate | date: 'shortDate'}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowItemClick(row)" ng-mouseover="style={cursor: hand}"></mat-row>
  </mat-table>
</div>
