<p><span color="primary">Policy Details</span><p>
<hr>

<form class="dlg-form">
  <mat-form-field class="dlg-full-width">
    <input matInput [(ngModel)]="policyNumber" placeholder="Policy Number" id="policyNumber" name="policyNumber" />
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="pickerEffective" [(ngModel)]="effectiveDate" placeholder="Effective Date" id="effectiveDate" name="effectiveDate"/>
    <mat-datepicker-toggle matSuffix [for]="pickerEffective"></mat-datepicker-toggle>
    <mat-datepicker #pickerEffective></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="pickerExpiry" [(ngModel)]="expirationDate" placeholder="Expiration Date" id="expirationDate" name="expirationDate"/>
    <mat-datepicker-toggle matSuffix [for]="pickerExpiry"></mat-datepicker-toggle>
    <mat-datepicker #pickerExpiry></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="dlg-half-width">
    <input matInput [(ngModel)]="insuredFirstName" placeholder="Primary Insured First Name" id="insuredFirstName" name="insuredFirstName"/>
  </mat-form-field>

  <mat-form-field class="dlg-half-width">
    <input matInput [(ngModel)]="insuredLastName" placeholder="Primary Insured Last Name" id="insuredLastName" name="insuredLastName"/>
  </mat-form-field>

  <mat-form-field class="dlg-full-width">
    <input matInput [(ngModel)]="insuredMailingAddress" placeholder="Primary Insured Mailing Address" id="insuredMailingAddress" name="insuredMailingAddress"/>
    <mat-hint align="start"><strong>Please use the <a href="https://pe.usps.com/text/pub28/28c2_012.htm" target="_blank">USPS format</a></strong> </mat-hint>
  </mat-form-field>

  <mat-form-field class="dlg-third-width">
    <input matInput [(ngModel)]="insuredCity" placeholder="Insured City" id="insuredCity" name="insuredCity"/>
  </mat-form-field>

  <mat-form-field class="dlg-third-width">
    <input matInput [(ngModel)]="insuredState" placeholder="Insured State" id="insuredState" name="insuredState"/>
  </mat-form-field>

  <mat-form-field class="dlg-third-width">
    <input matInput [(ngModel)]="insuredPostal" placeholder="Insured Zip Code" id="insuredPostal" name="insuredPostal"/>
  </mat-form-field>

  <mat-form-field class="dlg-full-width">
    <mat-select placeholder="Risk Construction" [(ngModel)]="selectedRiskConstruction" name="riskConstructions">
       <mat-option *ngFor="let rc of riskConstructions" [value]="rc.value">
         {{ rc.viewValue }}
       </mat-option>
     </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="riskYearBuilt" placeholder="Risk Year Built" id="riskYearBuilt" name="riskYearBuilt" type="number"/>
  </mat-form-field>

  <mat-form-field class="dlg-full-width">
    <input matInput [(ngModel)]="riskAddress" placeholder="Risk Address" id="riskAddress" name="riskAddress"/>
    <mat-hint align="start"><strong>Please use the <a href="https://pe.usps.com/text/pub28/28c2_012.htm" target="_blank">USPS format</a></strong> </mat-hint>
  </mat-form-field>

  <mat-form-field class="dlg-third-width">
    <input matInput [(ngModel)]="riskCity" placeholder="Risk City" id="riskCity" name="riskCity"/>
  </mat-form-field>

  <mat-form-field class="dlg-third-width">
    <input matInput [(ngModel)]="riskState" placeholder="Risk State" id="riskState" name="riskState"/>
  </mat-form-field>

  <mat-form-field class="dlg-third-width">
    <input matInput [(ngModel)]="riskPostal" placeholder="Risk Zip Code" id="riskPostal" name="riskPostal"/>
  </mat-form-field>
</form>

<button type="button" mat-raised-button color="accent"
    (click)="closeDialog('update')">Save</button>
<button type="button" mat-button color="primary"
    (click)="closeDialog('delete')" [hidden]="noDelete">Delete</button>
<button type="button" mat-button color="accent"
    (click)="closeDialog('cancel')">Cancel</button>
