.dlg-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.dlg-full-width {
  width: 100%;
}

.dlg-half-width {
  width: 40%;
}

.dlg-third-width {
  width: 30%;
}

[hidden]
{ display: none !important;}
