@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 18;
}

.basic-container {
  padding: 18px;
}

.version-info {
  font-size: 8pt;
  float: right;
}
