.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.is-grouped {
    display: inline-block;
}

.is-grouped > .button:not(:last-child) {
    margin-right: 10px;
}
