<mat-toolbar color="primary">
    <span>RPS Policy Management Demo</span>
    <span class="example-spacer"></span>
    <div class="is-grouped">
      <button mat-raised-button color="accent" (click)="refreshList()">Refresh List</button>
      <button mat-raised-button color="warn" (click)="showPolicyEditor()">New Policy</button>
    </div>
</mat-toolbar>
